.fomenu{
    color: rgb(177, 177, 177);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    line-height: 1.5;
    float: right;
    margin-right: 2%;
    margin-top: -3%;
    word-spacing: 6px;
}
.fooldal{
    background-image: url(kepek/pizza..svg);
    padding-top: 1.3%;
    padding-bottom: 5%;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    background-size: 120vw;
    background-position: center;
}
.fomenulink{
    text-decoration: none;
    color: rgb(177, 177, 177);
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.fomenulinkkezd{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.tortenet{
    background-color: rgb(37, 37, 37);
    height: 350px;
    color: #fff;
    padding-top: 4%;
}
#toribal{
    text-align: right;
    padding-left: 27%;
    display: inline;
    float: left;
    margin: 0;
}
#torijobb{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-right: 15%;
    display: inline;
    float: right;
    margin: 0;
    max-width: 550px;
}
.alcim{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(177, 177, 177);
    font-weight: lighter;
}
.focim{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-left: 2.5%;
    font-weight: lighter;
}
.cim{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    line-height: 1.5;
}
.txt{
    color: rgb(177, 177, 177);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
.menu{
    background-color: rgb(14, 14, 14);
    height: 350px;
    color: #fff;
    padding-top: 4%;
    padding-bottom: 3%;
    text-align: center;
    padding-left: 22%;
    padding-right: 22%;
}
body{
    margin: 0cm;
    background-color:rgb(14, 14, 14); ;
} 
#gomb{
    border: solid white 1px;
    list-style-type: none;
    display: inline;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: large;
    font-weight: lighter;
    margin: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.specialitasaink{
    background-color: rgb(37, 37, 37);
    height: 1000px;
    color: #fff;
    padding-top: 4%;
    text-align: center;
}
.kepek{
    display: grid;
    grid-template-columns: repeat(12, 60px);
    grid-template-rows: repeat(9, 60px);
    grid-gap: 27px;
    margin: 0 auto;
    width: 1020px;
}
.kepek div{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#pizza1{
    background-image: url(kepek/pizza1.jpg);
    background-size: cover;
    background-position: center;

    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}
#vorosboros{
    background-image: url(kepek/vorosboros.jpg);
    background-size: cover;
    background-position: center;

    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 7;
}
#vegyes{
    background-image: url(kepek/vegyes.jpg);
    background-size: cover;
    background-position: center;

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 10;
}
#pizza2{
    background-image: url(kepek/pizza2.jpg);
    background-size: cover;
    background-position: center;

    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 10;
}
#eloetel{
    background-image: url(kepek/eloetel.jpg);
    background-size: cover;
    background-position: center;

    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 10;
}
.nyitvatartas{
    background-color: rgb(14, 14, 14);
    height: 750px;
    color: #fff;
    padding-top: 4%;
    margin: 0 auto;
    width: 90%;
}
.foglalas{
    text-decoration: underline #ffff;
}
.nyitvabal{
    width: 23%;
    display: inline;
    float: left;
    padding-right: 3%;
    padding-left: 12%;
}
.nyitvakozep{
    width: 43%;
    display: inline;
    margin-top: 4%;
    max-width: 325px;
    margin: auto;
    float: left;
    padding-right: 3%;
}
.nyitvajobb{
    width: 30%;
    display: inline;
    padding-right: 12%;
}
.footer{
    background-color: rgb(14, 14, 14);
    text-align: center;
    height: 150px;
    padding-top: 2%;
}
.nyitvahr{
    color: rgb(177, 177, 177);
    font-size: large;
    max-width: 890px;
}
.kepszoveg{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: large;
}
.footertxt{
    padding-top: 3%;
    padding-bottom: 5%;
    color: rgb(177, 177, 177);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
.webnode{
    color: rgb(177, 177, 177);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}