.tortenet{
    background-color: rgb(37, 37, 37);
    height: 350px;
    color: #fff;
    padding-top: 4%;
}
#toribal{
    text-align: right;
    padding-left: 15%;
    display: inline;
    float: left;
    margin: 0;
}
#torijobb{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    padding-right: 15%;
    display: inline;
    float: right;
    margin: 0;
    max-width: 550px;
}
.alcim{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(177, 177, 177);
    font-weight: lighter;
}
.cim{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.txt{
    color: rgb(177, 177, 177);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
.menu{
    background-color: rgb(14, 14, 14);
    height: 350px;
    color: #fff;
    padding-top: 4%;
    padding-bottom: 3%;
    text-align: center;
    padding-left: 22%;
    padding-right: 22%;
}
body{
    margin: 0cm;
} 
#gomb{
    border: solid white 2px;
    list-style-type: none;
    display: inline;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: large;
    font-weight: lighter;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}