.fomenu{
    color: rgb(177, 177, 177);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    line-height: 1.5;
    float: right;
    margin-right: 2%;
    margin-top: -4%;
    word-spacing: 6px;
}
.fooldal{
    background-image: url(kepek/pizza..svg);
    padding-top: 1.3%;
    padding-bottom: 5%;
    background-repeat: no-repeat;
    width: 100%;
    height: 560px;
    background-position: center;
    background-size: auto;
    background-size: 120vw;
}
.fomenulink{
    text-decoration: none;
    color: rgb(177, 177, 177);
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.fomenulinkkezd{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.tortenet{
    background-color: rgb(37, 37, 37);
    height: 350px;
    color: #fff;
    padding-top: 4%;
    display: flex;
    justify-content: center;
}
#toribal{
    justify-content: flex-end;
    text-align: right;
    display: inline;
}
#torijobb{
    justify-content: flex-start;
    padding-left: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    display: inline;
}
.alcim{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(177, 177, 177);
    font-weight: lighter;
}
.focim{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin-left: 2.5%;
    font-weight: lighter;
}
.cim{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    line-height: 1.5;
}
.txt{
    color: rgb(177, 177, 177);
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
.menu{
    clear: both;
    background-color: rgb(14, 14, 14);
    height: 350px;
    color: #fff;
    padding-top: 4%;
    padding-bottom: 3%;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}
body{
    margin: 0cm;
    background-color:rgb(14, 14, 14); ;
} 
.gomblista{
    padding: 0;
    margin-top: 50px;
}
#gomb{
    border: solid white 1px;
    list-style-type: none;
    display: inline;
    padding:  20px 70px;
    font-size: large;
    font-weight: lighter;
    margin: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.specialitasaink{
    background-color: rgb(37, 37, 37);
    height: 1000px;
    color: #fff;
    padding-top: 4%;
    text-align: center;
}
.kepek{
    display: grid;
    grid-template-columns: repeat(12, 60px);
    grid-template-rows: repeat(9, 60px);
    grid-gap: 27px;
    margin: 0 auto;
    width: 1020px;
}
.kepek div{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#pizza1{
    background-image: url(kepek/pizza1.jpg);
    background-size: cover;
    background-position: center;

    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}
#vorosboros{
    background-image: url(kepek/vorosboros.jpg);
    background-size: cover;
    background-position: center;

    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 7;
}
#vegyes{
    background-image: url(kepek/vegyes.jpg);
    background-size: cover;
    background-position: center;

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 10;
}
#pizza2{
    background-image: url(kepek/pizza2.jpg);
    background-size: cover;
    background-position: center;

    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 10;
}
#eloetel{
    background-image: url(kepek/eloetel.jpg);
    background-size: cover;
    background-position: center;

    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 7;
    grid-row-end: 10;
}
.nyitvatartas{
    background-color: rgb(14, 14, 14);
    height: 750px;
    color: #fff;
    padding-top: 4%;
    margin: 0 auto;
    width: 90%;
}
.foglalas{
    text-decoration: underline #ffff;
}
.nyitvabal{
    width: 26%;
    display: inline;
    float: left;
    padding-left: 10%;
    padding-right: 2%;
}
.nyitvakozep{
    width: 43%;
    display: inline;
    margin-top: 4%;
    max-width: 325px;
    margin: auto;
    float: left;
    padding-right: 3%;
}
.nyitvajobb{
    width: 27%;
    display: inline;
    padding-right: 15%;
}
.footer{
    background-color: rgb(14, 14, 14);
    text-align: center;
    height: 150px;
    padding-top: 2%;
}
.nyitvahr{
    color: rgb(177, 177, 177);
    font-size: large;
    max-width: 890px;
}
.kepszoveg{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: large;
}
.footertxt{
    padding-top: 3%;
    padding-bottom: 5%;
    color: rgb(177, 177, 177);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
.webnode{
    color: rgb(177, 177, 177);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}


/* TÖRTÉNET RESZPONZIVITÁS */
@media only screen and (min-width:1100px) and (max-width: 1540px){
    .tortenet{
        height: 350px;
    }
    #toribal{
        padding-left: 7%;
        margin: 0;
    }
    #torijobb{
        padding-right: 7%;
        max-width: 700px;
    }
}
@media only screen and (min-width:600px) and (max-width: 1100px){
    .tortenet{
        height: 100%;
        padding-bottom: 6%;
    }
    #toribal{
        padding-left: 5%;
    }
    #torijobb{
        padding-right: 5%;
    }
}
@media only screen and (max-width: 600px){
    .tortenet {
        flex-direction: column;
        height: 100%;
        padding-bottom: 4%;
    }
    #toribal{
        padding-right: 3%;
    }
    #torijobb{
        padding-right: 3%;
        padding-left: 3%;
    }
}

/* FŐMENÜ RESZPONZIVITÁS */
@media only screen and (max-width: 900px){
    .fooldal{
        padding-top: 1.3%;
        padding-bottom: 5%;
        width: 100%;
        height: 500px;
        background-size: auto;
    }
}
@media only screen and (max-width: 600px){
    .fooldal{
        padding-top: 1.3%;
        padding-bottom: 5%;
        width: 100%;
        height: 300px;
        background-size: auto;
    }
}

/* MENÜ RESZPONZIVITÁS */
@media only screen and (min-width:768px) and (max-width: 992px){
    #gomb{
        display: inline;
        padding:  20px 10%;
    }
}
@media only screen and (min-width:600px) and (max-width: 768px){
    #gomb{
        display: inline;
        padding:  20px 6%;
    }
}
@media only screen and (max-width: 600px){
    #gomb{
        display: block;
        padding:  20px 10%;
        margin-top: 50px;
    }
    .menu{
        height: 120%;
    }
}